    /*Buttons*/

/*button*/

.button {
    display: inline-block;
    padding: .75rem 1.5rem;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*button--gray*/

.button--gray {
    position: relative;
    background-color: var(--bg-dark);
    color: var(--text-white);
    border: 2px solid transparent;
    transition: background-color var(--transition, .25s ease-in-out), color var(--transition, .25s ease-in-out), border var(--transition, .25s ease-in-out);
    overflow: hidden;
    text-transform: uppercase;
    z-index: 0;
}

.button--gray:hover {
    background-color: transparent;
    color: var(--text-dark);
    border: 2px solid var(--bg-dark);
}

.button--gray::before {
    content: "";
    position: absolute;
    background-color: var(--bg-white);
    z-index: -1;
    top: 0;
    bottom: -5%;
    left: -30%;
    right: -30%;
    transform: skewX(-45deg) scale(0, 1);
    transition: .5s all;
}

.button--gray:hover::before {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: .5s all;
    transition: .5s all;
}

.button--gray.button-icon::after {
    color: var(--text-white);
}

.button--gray:hover.button-icon::after {
    color: var(--text-dark);
}

/*button - in - header*/

.page__header-menu-item-button .button-icon.button-icon--arrow-right::after {
    font-size: 1.5rem;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-item-button .button-icon.button-icon--arrow-right::after {
        font-size: 1rem;
    }
}

/*button--white*/

.button--white {
    position: relative;
    background-color: var(--bg-white);
    color: var(--text-dark);
    border: 2px solid transparent;
    transition: background-color var(--transition, .25s ease-in-out), color var(--transition, .25s ease-in-out), border var(--transition, .25s ease-in-out);
    overflow: hidden;
    text-transform: uppercase;
    z-index: 0;
}

.button--white:hover {
    background-color: transparent;
    color: var(--text-white);
    border: 2px solid var(--bg-white);
}

.button--white::before {
    background-color: var(--bg-dark);
}

.button--white.button-icon::after {
    color: var(--text-dark);
}

.button--white:hover.button-icon::after {
    color: var(--text-white);
}

/*button--transparent-gray*/

.button--transparent-gray {
    background-color: transparent;
    color: var(--text-dark);
    border: 2px solid var(--bg-dark);
    transition: background-color var(--transition, .25s ease-in-out), color var(--transition, .25s ease-in-out), border var(--transition, .25s ease-in-out);
}

.button--transparent-gray:hover {
    background-color: var(--bg-dark);
    color: var(--text-white);
    border: 2px solid transparent;
}

.button--transparent-gray.button-icon::after {
    color: var(--text-dark);
}

.button--transparent-gray:hover.button-icon::after {
    color: var(--text-white);
}

/*button--transparent-white*/

.button--transparent-white {
    background-color: transparent;
    color: var(--text-white);
    border: 2px solid var(--bg-white);
    transition: background-color var(--transition, .25s ease-in-out), color var(--transition, .25s ease-in-out), border var(--transition, .25s ease-in-out);
}

.button--transparent-white:hover {
    background-color: var(--bg-white);
    color: var(--text-dark);
    border: 2px solid transparent;
}

.button--gray:hover.button-icon::after {
    color: var(--text-dark);
}

.button--transparent-white.button-icon::after {
    color: var(--text-white);
}

.button--transparent-white:hover.button-icon::after {
    color: var(--text-dark);
}

/*buttons - icons*/

.button-icon::after {
    font-weight: 900;
    margin-left: .5rem;
    font-size: 1rem;
    transition: color var(--transition, .25s ease-in-out);
}

.button-icon--arrow-right::after {
    font-family: "Font Awesome 6 Free";
    content: "\f061";
}