.hamburger-row {
    z-index: 1;
}

.hamburger {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 25px;
    overflow-x: hidden;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}
  
.hamburger span {
    position: absolute;
    height: 5px;
    background: var(--bg-dark);
    border-radius: 16px;
    left: 0;
}

.hamburger span:nth-child(1) {
    top: 0;
    width: 32px;
}
  
.hamburger span:nth-child(2) {
    top: 10px;
    width: 24px;
}
  
.hamburger span:nth-child(3) { 
    bottom: 0;
    width: 16px;
}

/*logic*/

.hamburger span:nth-child(1) {
    transition: rotate var(--rotate-time) ease-in-out, translate var(--move-time) ease-in-out var(--move-time);
}

.hamburger span:nth-child(2) {
    transition: translate var(--move-time) ease-in-out calc(var(--move-time) + var(--rotate-time)), width var(--move-time) ease-in-out;
}

.hamburger span:nth-child(3) {
    transition: rotate var(--rotate-time) ease-in-out, translate var(--move-time) ease-in-out var(--move-time), width var(--move-time) ease-in-out;
}

/*active*/

.hamburger.active span:nth-child(1) {
    translate: 0 10px;
    rotate: 45deg;
    transition: translate var(--move-time) ease-in-out var(--move-time), rotate var(--rotate-time) ease-in-out var(--move-time);
}

.hamburger.active span:nth-child(2) {
    translate: 100px 0;
    width: 32px;
    transition: width var(--move-time) ease-in-out, translate var(--move-time) ease-in-out calc(1.25 * var(--move-time) + var(--rotate-time));
}

.hamburger.active span:nth-child(3) {
    translate: 0 -10px;
    rotate: -45deg;
    width: 32px;
    transition: width var(--move-time) ease-in-out, translate var(--move-time) ease-in-out var(--move-time), rotate var(--rotate-time) ease-in-out var(--move-time);
}

/*hamburger-menu*/

.hamburger-nav {
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    left: -110%;
    width: 100%;
    transition: left calc(3 * var(--move-time)) ease-in-out;
    padding: 0;
    background-color: var(--bg-white);
}

.hamburger-nav.active {
    left: 0;
}

@media screen and (min-width: 1281px) {
    .hamburger-row {
        display: none;
    }
}