/*bg*/

.page__container {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: var(--gap-body, 6.25rem);
}

/*no - scroll*/

.noscroll {
    position: fixed;
    touch-action: none;
}

/*page__header*/

.page__header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}

.page__header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: var(--width-semi);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__header-nav {
        margin: 0 auto;
    }
}

.page__header-logo {
    z-index: 2;
}

.page__header-logo-img {
    width: 191px;
}

.page__header-menu  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 2rem;
    column-gap: 1rem;
}

@media screen and (min-width: 1281px) {
    .page__header-menu  {
        display: flex;
        align-items: center;
        justify-content: end;
        row-gap: 0;
        column-gap: 0;
        gap: 4rem;
    }
}

.page__header-menu-item {
    list-style: none;
    grid-column: span 2;
}

.page__header-menu-href {
    text-decoration: none;
    color: var(--text-dark, #333333);
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-href {
        padding: 0;
        font-size: 1rem;
    }
}

.page__header-menu-item-first {
    margin-top: 8.55rem;
}

.page__header-menu-item-button {
    list-style: none;
    grid-column: span 2;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-item-button {
        margin: 0;
    }

    .page__header-menu-item-first {
        margin: 0;
    }
}

.page__header-menu-item-fb {
    grid-column: 1;
    justify-self: end;
}

.page__header-menu-item-ig {
    grid-column: 2;
    justify-self: start;
}

.page__header-menu-href-fb, .page__header-menu-href-ig {
    padding: 0;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-item-fb, .page__header-menu-item-ig {
        display: none;
    }
}

.page__header-menu-item-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.page__header-menu-item-icon--facebook {
    padding: .5rem;
    fill: var(--bg-dark, #333333);
    transition: fill var(--transition, .25s ease-in-out);
}

.page__header-menu-item-icon--facebook:hover {
    fill: var(--cream-accent, #DED0B6);
}

.page__header-menu-item-icon--instagram {
    padding: .5rem;
    fill: none;
    stroke: var(--bg-dark, #333333);
    transition: stroke var(--transition, .25s ease-in-out);
}

.page__header-menu-item-icon--instagram:hover {
    stroke: var(--cream-accent, #DED0B6);
}

/*hover*/

@media screen and (min-width: 1281px) {
    .page__header-menu-item {
        position: relative;
    }

    .page__header-menu-item::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--bg-dark, #333333);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform var(--transition, .25s ease-in-out);
    }

    .page__header-menu-item:hover::after {
        transform: scaleX(1);
    }
}

/*section - page__header-welcome*/

.page__header-welcome {
    width: var(--width-full);
    height: 80vh;
    background-size: cover;
    background-position: 47% 80%;
    background-repeat: no-repeat;
    background-image: url(/images/content/original/welcome-image.jpg);
    background-image: -webkit-image-set(
        url(/images/content/bckps/welcome-image.avif) type("image/avif"),
        url(/images/content/bckps/welcome-image.webp) type("image/webp"),
        url(/images/content/original/welcome-image.jpg) type("image/jpeg")
    );
    background-image: image-set(
        url(/images/content/bckps/welcome-image.avif) type("image/avif"),
        url(/images/content/bckps/welcome-image.webp) type("image/webp"),
        url(/images/content/original/welcome-image.jpg) type("image/jpeg")
    );
}

.page__header-welcome-wrapper {
    width: var(--width-semi);
    margin: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__header-welcome {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 72.5vh;
        height: 72.5svh;
        background-position: 32.5% 80%;
        border-radius: var(--border-radius, 3.25rem);
    }

    .page__header-welcome-wrapper {
        margin: 0 auto;
    }
}

.page__header-welcome-title {
    color: var(--text-white, #FFFFFF);
    font-weight: 700;
    font-size: var(--heading, 2.5rem);
    line-height: 1.25;
    letter-spacing: -0.0125rem;
    margin: 0;
    text-transform: uppercase;
    max-width: 40.75rem;
}

.page__header-welcome-title-span-hidden {
    position: absolute;
    left: -1000%;
}

@media screen and (min-width: 1281px) {
    .page__header-welcome-title-span-hidden {
        position: static;
    }
}

.page__header-welcome-content-text {
    color: var(--text-white, #FFFFFF);
    max-width: 34.5rem;
}

.page__header-welcome-buttons {
    margin-top: 2rem;
}

.page__header-welcome-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1281px) {
    .page__header-welcome-buttons-list {
        flex-direction: row;
    }
}

/*main - index.html*/

.page__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-body, 6.25rem);
    flex-grow: 1;
    margin: 0;
}

/*section - page__massage-benefits*/

.page__massage-benefits {
    margin: 0 var(--margin-sides, 1.5rem);
    width: var(--width-semi);
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits {
        margin: 0 auto;
    }
}

.page__massage-benefits-container {
    display: grid;
    gap: var(--gap-section, 2.5rem);
    margin-top: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0;
    }
}

.page__massage-benefits-container-header {
    grid-row: 3;
    z-index: 1;
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-header {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}

.page__massage-benefits-container-header-img {
    border-radius: var(--border-radius-image, 52px);
    min-height: 400px;
    max-height: 450px;
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-header-img {
        min-height: none;
        max-height: none;
    }
}

.page__massage-benefits-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cream-light, #FAEED1);
    padding: 2.5rem;
    border-radius: var(--border-radius, 3.25rem);
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-content {
        margin-top: -1.5rem;
        margin-left: -3rem;
        padding: 2.5rem 2.5rem 2.5rem 5.5rem;
    }
}

.page__massage-benefits-container-text {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--bg-dark, #333333);
}

.page__massage-benefits-container-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page__massage-benefits-container-list-item {
    display: flex;
    align-items: center;
}

.page__massage-benefits-container-text-hidden {
    position: absolute;
    left: -1000%;
}

@media screen and (min-width: 1537px) {
    .page__massage-benefits-container-text-hidden {
        position: static;
        margin-top: 1.5rem;
    }
}

.page__massage-benefits-container-info {
    padding: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-info-text {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1701px) {
    .page__massage-benefits-container-info-text {
        font-size: 4rem;
    }
}

/*section - page__services*/

.page__services {
    width: var(--width-full);
}

@media screen and (min-width: 1281px) {
    .page__services {
        margin: 0 auto;
    }
}

.page__services-header {
    width: var(--width-semi);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__services-header {
        margin: 0 auto;
    }
}

/*section - page__cta*/

.page__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;
    background-image: url(/images/content/original/cta-bg-image.jpg);
    background-image: -webkit-image-set(
        url(/images/content/bckps/cta-bg-image.avif) type("image/avif"),
        url(/images/content/bckps/cta-bg-image.webp) type("image/webp"),
        url(/images/content/original/cta-bg-image.jpg) type("image/jpeg")
    );
    background-image: image-set(
        url(/images/content/bckps/cta-bg-image.avif) type("image/avif"),
        url(/images/content/bckps/cta-bg-image.webp) type("image/webp"),
        url(/images/content/original/cta-bg-image.jpg) type("image/jpeg")
    );
}

@media screen and (min-width: 1281px) {
    .page__cta {
        background-position: right center;
    }
}

.page__cta-wrapper {
    width: var(--width-semi);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__cta-wrapper {
        margin: 0 auto;
    }
}

.page__cta-content {
    text-align: center;
    color: var(--text-white, #FFFFFF);
}

.page__cta-content-heading {
    position: static;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: var(--heading, 2.5rem);
    line-height: 1.25;
    letter-spacing: -0.0125rem;
    margin: 0;
}

.page__cta-content-heading::after {
    content: none;
}

.page__cta-content-button {
    margin-top: 1rem;
}

.page__cta-about-info {
    color: var(--text-white, #FFFFFF);
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--bg-white, #FFFFFF);
}

/*section - price-list*/

.page__price-list {
    width: var(--width-semi);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__price-list {
        margin: 0 auto;
    }
}

.page__price-list-header-content {
    margin-top: .5rem;
}

@media screen and (min-width: 1281px) {
    .page__price-list-header-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .page__price-list-header-content {
        text-align: center;
    }
}

.page__price-list-cards {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-section);
    margin-bottom: 0;
}

@media screen and (min-width: 1281px) {
    .page__price-list-cards {
        gap: var(--gap-section, 2.5rem);
    }
}

.page__price-list-cards-first, .page__price-list-cards-second {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-section, 2.5rem);
    container-type: inline-size;
}

.page__price-list-cards-second {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-section, 2.5rem);
    margin-bottom: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 1281px) {
    .page__price-list-cards-second {
        border-top: 1px solid var(--bg-dark, #333333);
        padding-top: var(--gap-section, 2.5rem);
    }
}

.page__price-list-cards-button {
    margin-top: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 1281px) {
    .page__price-list-cards-button {
        display: none;
    }
}

@media screen and (min-width: 761px) {
    .price-list-card {
        flex-basis: 30%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1281px) {
    .price-list-card {
        flex-basis: 20%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1281px) {
    .page__price-list-explanation {
        margin: 0 auto;
        max-width: 52.5rem;
        text-align: center;
    }
}

.kinesio-responsive-span {
    position: absolute;
    left: -1000%;
    container-type: inline-size;
}

/*@media - 441px*/

@container (min-width: 393px) {
    .kinesio-responsive-span {
        position: static;
    }
}

/*section - page__vouchers*/

.page__vouchers-bg-container {
    width: var(--width-full);
    padding: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/content/original/gift-vouchers-mobile-image.jpg);
    background-image: -webkit-image-set(
        url(/images/content/bckps/gift-vouchers-mobile-image.avif) type("image/avif"),
        url(/images/content/bckps/gift-vouchers-mobile-image.webp) type("image/webp"),
        url(/images/content/original/gift-vouchers-mobile-image.jpg) type("image/jpeg")
    );
    background-image: image-set(
        url(/images/content/bckps/gift-vouchers-mobile-image.avif) type("image/avif"),
        url(/images/content/bckps/gift-vouchers-mobile-image.webp) type("image/webp"),
        url(/images/content/original/gift-vouchers-mobile-image.jpg) type("image/jpeg")
    );
}

@media screen and (min-width: 1281px) {
    .page__vouchers-bg-container {
        position: relative;
        z-index: 0;
        margin: 0 auto;
        padding: var(--gap-section, 2.5rem) 0;
        border-radius: var(--border-radius, 3.25rem);
        background-position: 10% center;
        background-image: url(/images/content/original/gift-vouchers-desktop-image.jpg);
        background-image: -webkit-image-set(
            url(/images/content/bckps/gift-vouchers-desktop-image.avif) type("image/avif"),
            url(/images/content/bckps/gift-vouchers-desktop-image.webp) type("image/webp"),
            url(/images/content/original/gift-vouchers-desktop-image.jpg) type("image/jpeg")
        );
        background-image: image-set(
            url(/images/content/bckps/gift-vouchers-desktop-image.avif) type("image/avif"),
            url(/images/content/bckps/gift-vouchers-desktop-image.webp) type("image/webp"),
            url(/images/content/original/gift-vouchers-desktop-image.jpg) type("image/jpeg")
        );
    }

    .page__vouchers-bg-container::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(217, 217, 217, 0) 10%, var(--bg-dark, #333333) 100%);
        border-top-left-radius: var(--border-radius, 3.25rem);
        border-top-right-radius: var(--border-radius, 3.25rem);
        pointer-events: none;
        z-index: -1;
    }
}

.page__vouchers-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section, 2.5rem);
    width: var(--width-semi);
}

@media screen and (min-width: 1281px) {
    .page__vouchers-wrapper {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1537px) {
    .page__vouchers-wrapper {
        flex-direction: row;
    }
}

.page__vouchers-header, .page__vouchers-wrapper-text {
    color: var(--text-white, #FFFFFF);
}

@media screen and (min-width: 1281px) {
    .page__vouchers-wrapper-text {
        display: none;
    }
}

.page__vouchers-header-content {
    margin-top: .5rem;
}

.page__vouchers-header-content-button {
    margin-top: 2rem;
}

.page__vouchers-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 761px) {
    .voucher-card {
        flex-basis: 35%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1281px) {
    .page__vouchers-cards {
        justify-content: center;
    }

    .voucher-card {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 1537px) {
    .page__vouchers-cards {
        justify-content: end;
    }

    .voucher-card {
        flex-grow: 0;
    }
}

.page__vouchers-text {
    display: none;
}

@media screen and (min-width: 1281px) {
    .page__vouchers-text {
        display: block;
        margin: var(--gap-section, 2.5rem) auto;
        width: var(--width-full);
        text-align: center;
        max-width: 50rem;
    }
}

/*section - page__how-to-vouchers*/

.page__how-to-vouchers {
    width: var(--width-semi);
}

.page__how-to-vouchers-header {
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__how-to-vouchers {
        margin: 0 auto;
    }

    .page__how-to-vouchers-header {
        margin: 0 auto;
    }
}

.page__how-to-vouchers-header-intro-title .long-title--hidden {
    position: absolute;
}

@media screen and (min-width: 961px) {
    .page__how-to-vouchers-header-intro-title .long-title--hidden {
        position: static;
    }
}

.page__how-to-vouchers-heading::first-letter {
    text-transform: uppercase;
}

.page__how-to-vouchers-header-content {
    margin-top: .8rem;
}

.page__how-to-vouchers-header-content-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 46.25rem;
}

.page__how-to-vouchers-header-content-button {
    margin-top: 2rem;
}

.page__how-to-vouchers-steps {
    position: relative;
    display: grid;
    gap: 4.5rem;
    max-width: 340px;
    margin: 0 .5rem;
    margin-top: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 361px) {
    .page__how-to-vouchers-steps {
        margin: 0 auto;
        margin-top: var(--gap-section, 2.5rem);
    }

    .page__how-to-vouchers-header-intro, .page__how-to-vouchers-header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 1281px) {
    .page__how-to-vouchers-header-intro, .page__how-to-vouchers-header-content {
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 961px) {
    .page__how-to-vouchers-steps {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0rem;
        max-width: var(--width-semi);
        margin: 7.5rem 2rem;
        justify-items: center;
    }

    .voucher-step-write {
        grid-column: 1;
        grid-row: 1;
    }

    .voucher-step-confirm {
        grid-column: 2;
        grid-row: 2;
    }

    .voucher-step-pickup {
        grid-column: 3;
        grid-row: 2;
    }
}

@media screen and (min-width: 1281px) {
    .page__how-to-vouchers-steps {
        margin: 5rem auto;
    }
}

.page__how-to-vouchers-steps-mobile-bg {
    position: absolute;
    top: 2%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
    max-height: 100%;
    opacity: 0;
}

.page__how-to-vouchers-steps-desktop-bg {
    display: none;
}

@media screen and (min-width: 961px) {
    .page__how-to-vouchers-steps-mobile-bg {
        display: none;
    }

    .page__how-to-vouchers-steps-desktop-bg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        z-index: -1;
        max-height: 100%;
        opacity: 0;
    }
}

/*section - page__gallery*/

.page__gallery {
    width: var(--width-semi);
    padding: 0 var(--margin-sides, 1.5rem);
    overflow: hidden;
}

@media screen and (min-width: 1281px) {
    .page__gallery {
        padding: 0;
        margin: 0 auto;
    }
}

.page__gallery-header-content {
    margin-top: .5rem;
}

.page__gallery-images {
    display: grid;
    gap: var(--gap-section, 2.5rem);
    grid-template-rows: repeat(3, minmax(240px, 1fr));
    margin-top: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 761px) {
    .page__gallery-images {
        grid-template-columns: repeat(2, minmax(312px, 1fr));
        grid-template-rows: repeat(2, minmax(240px, 1fr));
    }
}

@media screen and (min-width: 1281px) {
    .page__gallery-images {
        grid-template-columns: repeat(3, minmax(312px, 1fr));
    }
}

@media screen and (min-width: 1537px) {
    .page__gallery-images {
        grid-template-rows: repeat(2, minmax(380px, 1fr));
    }
}

.page__gallery-photo {
    background-color: #D9D9D9;
    border-radius: var(--border-radius-image, 52px);
}

/*images*/

.page__gallery-photo--natural-element {
    position: absolute;
    left: -1000%;
}

@media screen and (min-width: 761px) {
    .page__gallery-photo--natural-element {
        position: static;
    }
}

@media screen and (min-width: 1281px) {
    .page__gallery-photo--from-the-corner {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .page__gallery-photo--all-room {
        grid-column: 2 / span 2;
        grid-row: 2;
    }
}

/*section - page__contact*/

.page__contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap-section, 2.5rem);
    width: var(--width-small);
    margin: 0 var(--margin-sides, 1.5rem);
}

.page__contact-header-content {
    margin-top: .5rem;
}

.page__contact-info-address {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media screen and (min-width: 1281px) {
    .page__contact {
        margin: 0 auto;
    }

    .page__contact-header-intro, .page__contact-header-content, .page__contact-info-address {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.page__contact-info-address-text::first-letter {
    text-transform: uppercase;
}

.page__contact-info-address-href {
    font-style: normal;
    color: var(--text-dark, #333333);
}

.page__contact-info-address-strong {
    font-style: normal;
    text-transform: lowercase;
}

/*section - page__footer*/

.page__footer {
    width: var(--width-full);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__footer {
        margin: 0 auto;
    }
}

.page__footer-contact {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section, 2.5rem);
    padding: var(--gap-section, 2.5rem) 0;
    margin-bottom: var(--gap-section, 2.5rem);
    border-top: 1px solid var(--bg-dark, #333333);
    border-bottom: 1px solid var(--bg-dark, #333333);
}

@media screen and (min-width: 1281px) {
    .page__footer-contact {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 1537px) {
    .page__footer-contact {
        gap: 0;
        justify-content: space-between;
    }
}

.page__footer-logo-img {
    width: 191px;
}

.page__footer-contact-info-list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 1rem;
}

.page__footer-heading {
    position: static;
    font-family: 'Montserrat', sans-serif;
    text-transform: inherit;
}

.page__footer-heading::after {
    position: static;
}

.page__footer-contact-info-list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

.page__footer-contact-info-list-item::before {
    margin-right: 0;
}

.page__footer-contact-info-list-href {
    text-decoration: none;
    color: var(--text-dark, #333333);
}

.page__footer-contact-address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1281px) {
    .page__footer-contact-address {
        max-width: 22rem;
    }
}

@media screen and (min-width: 1537px) {
    .page__footer-contact-address {
        max-width: 28.25rem;
    }
}

.page__footer-contact-address-button {
    width: fit-content;
}

.page__footer-contact-map-iframe {
    min-height: 312px;
    border-radius: var(--border-radius-image, 52px);
}

@media screen and (min-width: 1281px) {
    .page__footer-contact-map-iframe {
        min-height: 264px;
    }
}

.page__flap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 1281px) {
    .page__flap {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        align-items: center;
    }
}

.page__copyright-href {
    text-decoration: none;
    color: var(--text-dark, #333333);
    font-weight: 700;
    transition: color var(--transition, .25s ease-in-out);
}

.page__copyright-href:hover {
    color: var(--cream-accent, #DED0B6);
}

.page__flap-socials-list {
    display: flex;
    gap: 1rem;
}

.page__flap-socials-list-item {
    list-style: none;
    width: 1.5rem;
    height: 1.5rem;
}

.page__flap-socials-list-item:hover {
    color: var(--cream-accent, #DED0B6);
}

.page__flap-socials-list-href {
    text-decoration: none;
    color: var(--text-dark, #333333);
}

.page__flap-socials-list-item-icon--facebook {
    padding: .5rem;
    fill: var(--bg-dark, #333333);
    transition: fill var(--transition, .25s ease-in-out);
}

.page__flap-socials-list-item-icon--facebook:hover {
    fill: var(--cream-accent, #DED0B6);
}

.page__flap-socials-list-item-icon--instagram {
    padding: .5rem;
    padding-right: 0;
    fill: none;
    stroke: var(--bg-dark, #333333);
    transition: stroke var(--transition, .25s ease-in-out);
}

.page__flap-socials-list-item-icon--instagram:hover {
    stroke: var(--cream-accent, #DED0B6);
}

/*section - page__up-link*/

.page__up-link {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: var(--margin-sides, 1.5rem);
    margin-bottom: var(--margin-sides, 1.5rem);
    z-index: 1;
}

@media screen and (min-width: 1281px) {
    .page__up-link {
        margin-right: var(--gap-body, 6.25rem);
        margin-bottom: var(--gap-body, 6.25rem);
    }
}