/*bg*/

.page {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: var(--gap-body, 6.25rem);
}

/*no - scroll*/

.noscroll {
    overflow: hidden;
}

/*page__header*/

.page__header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}

.page__header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: var(--width-semi);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__header-nav {
        margin: 0 auto;
    }
}

.page__header-logo {
    z-index: 1;
}

.page__header-menu  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 2rem;
    column-gap: 1rem;
}

@media screen and (min-width: 1281px) {
    .page__header-menu  {
        display: flex;
        align-items: center;
        justify-content: end;
        row-gap: 0;
        column-gap: 0;
        gap: 4rem;
    }
}

.page__header-menu-item {
    list-style: none;
    grid-column: span 2;
}

.page__header-menu-href {
    text-decoration: none;
    color: var(--text-dark);
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-href {
        padding: 0;
        font-size: 1rem;
    }
}

.page__header-menu-item-first {
    margin-top: 8.55rem;
}

.page__header-menu-item-button {
    list-style: none;
    grid-column: span 2;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-item-button {
        margin: 0;
    }

    .page__header-menu-item-first {
        margin: 0;
    }
}

.page__header-menu-item-fb {
    grid-column: 1;
    justify-self: end;
}

.page__header-menu-item-ig {
    grid-column: 2;
    justify-self: start;
}

.page__header-menu-href-fb, .page__header-menu-href-ig {
    padding: 0;
}

@media screen and (min-width: 1281px) {
    .page__header-menu-item-fb, .page__header-menu-item-ig {
        display: none;
    }
}

/*hover*/

.page__header-menu-item {
    position: relative;
}

.page__header-menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--bg-dark);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition, .25s ease-in-out);
}

.page__header-menu-item:hover::after {
    transform: scaleX(1);
}

/*section - page__header-welcome*/

.page__header-welcome {
    padding: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
    width: var(--width-full);
    height: 80vh;
    background-size: cover;
    background-position: 47% 80%;
    background-repeat: no-repeat;
    background-image: url(/images/content/original/welcome-image.jpg);
    background-image: -webkit-image-set(
        url(/images/content/bckps/welcome-image.avif) type("image/avif"),
        url(/images/content/bckps/welcome-image.webp) type("image/webp"),
        url(/images/content/original/welcome-image.jpg) type("image/jpeg")
    );
    background-image: image-set(
        url(/images/content/bckps/welcome-image.avif) type("image/avif"),
        url(/images/content/bckps/welcome-image.webp) type("image/webp"),
        url(/images/content/original/welcome-image.jpg) type("image/jpeg")
    );
}

.page__header-welcome-wrapper {
    width: var(--width-semi);
    margin: 0 auto;
}

@media screen and (min-width: 1281px) {
    .page__header-welcome {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0;
        height: 72.5vh;
        height: 72.5svh;
        background-position: 32.5% 80%;
        border-radius: var(--border-radius);
    }
}

.page__header-welcome-title {
    color: var(--text-white);
    font-weight: 700;
    font-size: var(--heading, 2.5rem);
    line-height: 1.25;
    letter-spacing: -0.0125rem;
    margin: 0;
    text-transform: uppercase;
    max-width: 40.75rem;
}

.page__header-welcome-title-span-hidden {
    position: absolute;
    left: -1000%;
}

@media screen and (min-width: 1281px) {
    .page__header-welcome-title-span-hidden {
        position: static;
    }
}

.page__header-welcome-content-text {
    color: var(--text-white);
    max-width: 34.5rem;
}

.page__header-welcome-buttons {
    margin-top: 2rem;
}

.page__header-welcome-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1281px) {
    .page__header-welcome-buttons-list {
        flex-direction: row;
    }
}

/*main - index.html*/

.page__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-body, 6.25rem);
    flex-grow: 1;
    margin: 0;
}

/*section - page__massage-benefits*/

.page__massage-benefits {
    padding: 0 var(--margin-sides, 1.5rem);
    width: var(--width-semi);
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits {
        margin: 0 auto;
        padding: 0;
    }
}

.page__massage-benefits-container {
    display: grid;
    gap: var(--gap-section, 2.5rem);
    margin-top: var(--gap-section, 2.5rem);
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0;
    }
}

.page__massage-benefits-container-header {
    grid-row: 3;
    z-index: 1;
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-header {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}


.page__massage-benefits-container-header-img {
    border-radius: var(--border-radius-image);
    min-height: 400px;
}

.page__massage-benefits-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cream-light);
    padding: 2.5rem 2.5rem;
    border-radius: var(--border-radius);
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-content {
        margin-top: -1.5rem;
        margin-left: -3rem;
        padding: 2.5rem 2.5rem 2.5rem 5.5rem;
    }
}

.page__massage-benefits-container-text {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--bg-dark);
}

.page__massage-benefits-container-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page__massage-benefits-container-text-hidden {
    position: absolute;
    left: -1000%;
}

@media screen and (min-width: 1537px) {
    .page__massage-benefits-container-text-hidden {
        position: static;
        margin-top: 2rem;
    }
}

.page__massage-benefits-container-info {
    padding: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 1281px) {
    .page__massage-benefits-container-info-text {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1701px) {
    .page__massage-benefits-container-info-text {
        font-size: 4rem;
    }
}

/*section - page__services*/

.page__services {
    padding: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__services {
        margin: 0 auto;
        padding: 0;
        width: var(--width-full);
    }
}

.page__services-header {
    width: var(--width-semi);
    margin: 0 auto;
}

.page__services-container {
    width: var(--width-full);
    margin-top: var(--gap-section, 2.5rem);
}