/*bg*/

.page {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: var(--gap-body, 6.25rem);
}

/*page__header*/

.page__header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}

.page__header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    max-width: var(--max-width-semi);
    margin: 0 1.5rem;
}

.page__header-logo {
    z-index: 1;
}

.page__header-menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.page__header-menu-item {
    list-style: none;
}

.page__header-menu-href {
    text-decoration: none;
    color: var(--text-dark);
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.page__header-menu-item-first {
    margin-top: 11.5rem;
}

.page__header-menu-item-button {
    margin: 3rem 0;
}