@layer reset, init, content, components, hamburger;
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=K2D:wght@300;400;700&display=swap) layer(reset);
@import url(normalize.css) layer(reset);
@import url(layout.css) layer(content);
@import url(components.css) layer(components);
@import url(hamburger.css) layer(hamburger);

@layer reset {
    :root {
        --primary: #512100;
        --secondary: #A3B18A;
        --accent: #3B1900;
        --white: #FFFFFF;
        --black: #010B13;
        --gray: #A09C9C;
        --dark-pink: #FFB6B6;
        --red: #FF0004;
        --background-primary: #FFFFFF;
        --background-secondary: #F9E8E8;
        --semi-transparent-dark: rgba(0, 0, 0, 0.5);
        --transition: .25s ease-in-out;
        --max-width: 100%;
    }

    @media screen and (min-width: 961px) {
        :root {
            --max-width: 92.5%;
        }
    }

    html {
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        color: var(--primary, #512100);
        background-color: var(--background-primary, #FFFFFF);
        scroll-behavior: smooth;
        overscroll-behavior: none;
    }

    body {
        overscroll-behavior: none;
    }
}

@layer init {   

    /*presets*/

    /*img - responsive - Iframe*/

    .img-responsive {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    .iframe {
        display: block;
        height: 95%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    /*width - fix*/

    .iframe--fix {
        max-width: 100%;
    }

    /*texts*/

    .heading {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    
    .paragraph {
        font-size: 1rem;
        margin: 0;
    }
    
    @media screen and (min-width: 961px) {
        .heading {
            font-size: 2.5rem;
        }
    }
    
    @media screen and (min-width: 1281px) {
        .heading {
            font-size: 3.25rem;
        }
    
        .paragraph {
            font-size: 1.5rem;
        }
    }
}