@import url(swiper/css);
@import url(swiper/css/navigation);
@import url(swiper/css/pagination);

:root {
    --swiper-gap: 2.5rem;
    --swiper-display: grid;
    --swiper-theme-color: #333333;
    --swiper-pagination-color: #DED0B6;
    --swiper-pagination-bullet-inactive-color: #333333;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 1.25rem;
    --swiper-pagination-bullet-horizontal-gap: .75rem;
    --swiper-navigation-size: 3.25rem;
    --swiper-navigation-sides-offset: 1.25rem;
}

@media screen and (min-width: 961px) {
    :root {
        --swiper-pagination-bullet-horizontal-gap: 1.25rem;
    }
}

/*Swiper*/

.swiper-slide {
    display: var(--swiper-display, grid);
    grid-template-rows: minmax(500px, 1fr);
    gap: var(--swiper-gap, 2.5rem);
    padding-bottom: var(--gap-section, 2.5rem);
}

.swiper-slide__figure {
    display: none;
}

@media screen and (min-width: 961px) {
    .swiper-slide__figure {
        display: block;
    }
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: static;
    border-top: 1px solid var(--bg-dark);
    padding-top: var(--gap-section, 2.5rem);
}

.swiper-slide__container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cream-accent);
    border-radius: var(--border-radius);
    padding: 2.5rem;
}

.swiper-slide__container-content-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}